<!DOCTYPE html>
<html>
  <head >
    <title>Olive</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render partial: 'partials/header' %>

  <script>


    console.log('lmao test');

    document.addEventListener('turbolinks:load', () => {
      console.log('Turbolinks load event fired');
    });
  </script>
  </head>

  <body >
      




    <%= yield %>
  </body>
  <%= render partial: 'partials/footer' %>

</html>
